.header {
    justify-content: space-between;
    text-align: center;
    padding: 10px 20px;
}


.main-container {
    display: flex;
    align-items: flex-start;
    gap: 40px;
    padding: 20px;
}

.content {
    flex: 1;
    margin-right: 200px;
    /* Space for fixed sidebar */
}

.right-section {
    margin-left: auto;
    width: 75%;
    text-align: right;
}

.left-section {
    margin-right: auto;
    width: 75%;
    text-align: left;
}


.sidebar {
    right: 20px;
    top: 120px;
    /* Adjust based on your header/nav height */
    width: 260px;
    background-color: #90df71;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 6px;
}

/*Below is styling for buttons for login and signup pages*/
.btn-custom {
    background-color: maroon;
    color: orange;
    border: none;
}

.btn-custom:hover {
    background-color: #640000; /* darker shade on hover */
    color: orange;
}