.header { /*Styles the header of the page*/
    justify-content: space-between;
    text-align: center;
    padding: 10px 20px;
}

.site-background {
    background-image: url("https://tse4.mm.bing.net/th/id/OIP.n9x2RuTnGKepKMO8dEOJSwHaEK?pid=ImgDet&w=174&h=174&c=7&dpr=1.3&o=7&rm=3"); 
    background-size: 100px 100px;
    background-repeat: repeat;
    background-blend-mode: lighten;
}

.site-shape {  /*Puts the content in a box in the center of the page (Allows me to add a background image later)*/
    border: 1px solid #ccc;
    border-radius: 8px;    /* optional, makes rounded corners */
    padding: 20px;
    background-color: #fff;
    width: 80%;            /* adjust as needed */
    max-width: 5000px;      /* keeps it from getting too wide */
    margin: 20px auto;     /* centers the box */
    box-shadow: 0 20px 60px rgba(0,0,0,0.1);  /* optional shadow */
}



.main-container {
    display: flex;
    align-items: flex-start;
    gap: 40px;
    padding: 20px;
}

.content {
    flex: 1;
    margin-right: 200px;
    /* Space for fixed sidebar */
}

.right-section {
    margin-left: auto;
    width: 75%;
    text-align: right;
}

.left-section {
    margin-right: auto;
    width: 75%;
    text-align: left;
}


.sidebar {
    right: 20px;
    top: 120px;
    /* Adjust based on your header/nav height */
    width: 260px;
    background-color: #90df71;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 6px;
}

/*Below is styling for buttons for login and signup pages*/
.btn-custom {
    background-color: maroon;
    color: orange;
    border: none;
}

.btn-custom:hover {
    background-color: #640000; /* darker shade on hover */
    color: orange;
}